*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #0c0e1c;
}
/* :root {
  font-size: 10px;
}

@media (max-width: 766px) {
  :root {
    font-size: 2.41vw;
  }
} */
